<!-- Add mermaid min js file -->
{{ if (.Params.mermaid) }}
{{ partial "mermaid.html" }}
{{ end }}

{{ if eq .Type "posts" }}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ .Params.title }}",
        "datePublished": "{{ .Params.date }}",
        "author": {
            "@type": "Person",
            "name": "1v0",
            "url": "https://1v0.dev"
        },
            {{ with .Params.cover }}
            "image": {
                "@type": "ImageObject",
                "url": "{{ . | absURL }}"
            },
            {{ end }}
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Permalink }}"
        }
    }
</script>
{{ end }}

{{ if eq .RelPermalink "/about/" }}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Ivo Penkov",
        "jobTitle": "Solutions Architect",
        "image": {{ .Params.image | absURL }},
        "url": "https://1v0.dev",
        "sameAs": [
            "https://linkedin.com/in/ivo-penkov-63143740/",
            "https://github.com/1v0dev"
        ],
        "email": "1v0dev@protonmail.com"
    }
</script>
{{ end }}